langchain
python-dotenv
langchain-openai
langchain-core
langchain-community
bs4
faiss-cpu
pypdf
langchain_groq
langgraph
langchain_chroma
langserve
langchain_huggingface
langgraph-cli[inmem]
agno
openai
duckduckgo-search
crewai
crewai-tools
streamlit